{% extends 'components/main.html' %}

{% block content %}

    <div class="container mt-4">
        <h1 class="mb-4">Hello Groups</h1>

        <div class="card">
            <div class="card-body">
                <p class="card-text">There are {{ groups_list|length }} groups</p>

                <ul class="list-group list-group-flush">
                    {% for item in groups_list %}
                        <li class="list-group-item">
                            <a href="/groups/group_detail/{{ item.id }}" class="text-dark">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
